<div class="container">
    <form [formGroup]="dialogForm">
        <mat-form-field>
            <input matInput formControlName="id" >
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="firstName" >
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="lastName" >
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="email" >
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="age" >
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="gender" >
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="phone" >
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="company" >
        </mat-form-field>
    </form>

    <button (click)="save()">Kaydet</button>

</div>